body {
  padding: 0;
  margin: 0;
  background-color: #6c5d9a;
}
@font-face {
  font-family: MyNira-Reg;
  src: url(font/Niramit-Regular.ttf);
}

/*début navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffd3;
}

li {
  float: left;
}

li a {
  font-family: MyNira-Reg;
  font-size: 20px;
  display: block;
  color: #49badf;
  padding: 20px 24px;
  text-decoration: none;
}

li a:hover {
  color: #6c5d9a;
}

a {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  color: grey;
  text-decoration: none;
}

.atright {
  float: right;
}

.section-titles {
  font-family: "League Spartan", sans-serif;
  font-size: 22px;
  text-align: center;
  color: #49badf;
}
.spe_h3 {
  color: #49badf;
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
}

.menu-title {
  padding: 4%;
  padding-bottom: 1%;
}

/*boite pour aligner wbs et resize mes images*/

.img {
  width: 75%;
}

.boite {
  display: flex;
  padding: 30px;
}

.inboite {
  flex: 33.33%;
  text-align: center;
}

.tm_nom {
  color: #49badf;
  font-size: 28px;
  font-family: "League Spartan", sans-serif;
}

.genre {
  font-size: 20px;
  line-height: 26px;
  font-family: "League Spartan", sans-serif;
}

.drama {
  color: #00b19a;
}
.comedie {
  color: #eea800;
}
.fantastique {
  color: #53008a;
}
.romance {
  color: #fd337f;
}
.horreur {
  color: #960142;
}
